* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/* body {
  margin: 2rem 1rem;
} */
header {
  margin: 2rem 1.5rem;
  display: flex;
  justify-content: space-between;
}
.header-logo {
  width: 12rem;
}
.header-bars {
  height: 1.5rem;
  fill: #999999;
}
.top-box {
  margin: 4rem 2rem;
  position: relative;
  z-index: 2;
}
.top-left {
  width: 80%;
}
.pre-title {
  color: #ff3998;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8rem;
}
.title {
  font-size: 2.5rem;
  font-weight: 900;
  margin: 1rem 0;
}
.descr {
  margin: 1rem 0;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 30px;
  color: #555555;
}
.btn {
  margin-top: 1rem;
  border: none;
  display: inline-block;
  border-radius: 99px;
  color: black;
  position: relative;
  z-index: 1;
  font-size: 14px;
  padding: 17px 35px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.btn:before,
.btn:after {
  content: " ";
  position: absolute;
  border-radius: 99px;
}
.btn:before {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
  background: url(background.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.btn:after {
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  background-color: white;
  z-index: -1;
  opacity: 1;
  transition: all 0.5s ease;
}
.btn:hover:after {
  opacity: 0;
  color: white;
}
.top-img {
  height: 17em;
  z-index: -1;
  position: absolute;
  right: 0;
  top: -4rem;
  transform: translatex(50%);
}

.color-bcgr {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5rem 2rem 1rem 1rem;
  position: relative;
  z-index: 2;
  background-image: url(background.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.color-bcgr-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 200;
}
.icons {
  margin: 3rem 1.5rem;
  display: grid;
  grid-template-columns: 1 1;
  grid-template-rows: 1 1;
  grid-template-areas: "tl tr" "bl br";
}
.icon1 {
  width: 5rem;
  grid-area: tl;
}
.icon2 {
  grid-area: tr;
}
.icon3 {
  grid-area: bl;
}
.icon4 {
  display: none;
}
.icon5 {
  grid-area: br;
}
.purchase {
  margin: 3rem 1.5rem;
}
.purchase-title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 150%;
  margin: 1rem 0;
}
.purchase-descr {
  font-size: 1.2rem;
  font-weight: 400;
  color: #555555;
  line-height: 150%;
}
.purchase-descr a {
  color: #555555;
}
